.board{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.line {
	display: flex;
    justify-content: center;
	margin-top: 6px;
}

.board-letter {
	width: 80px;
	height: 70px;
	margin-left: 5px;
	text-align: center;
	justify-content: center;
	font-size: 50px;
	color: white;
	border-radius: 4px;
} 

.board-letter:focus {
	border: 1px solid white;
	color: white;
	box-shadow: inset 0 3px 3px 1px rgba(255, 255, 255, 0.956), 0 0 3px 3px rgba(255, 255, 255, 0.6);
  }
