.board{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.line {
	display: flex;
    justify-content: center;
	margin-top: 2px;
}

.board-letter, .board-letter:focus {
	width: 70px;
	height: 70px;
	margin-left: 5px;
	text-align: center;
	justify-content: center;
	font-size: 50px;
	color: #363e52;
	background-color: #fbfcff;
	border-radius: 3px;
	border: 2px solid #dee1e9;
	font-family: "Helvetica Neue";
	align-items: center;
	font-weight: 700;
	margin: 3px;
	font-size: 45px;
	box-shadow: inset 2px solif #dee1e9;
} 

.board-letter:focus{
	box-shadow: inset 0 0 0 black, 0 0 0 black;
}

.written-letter {
	border:2px solid #a7adc0;
}


